body {
    background-image: linear-gradient(to right, rgb(66, 255, 138) , rgb(120, 220, 216));
    font-family: sans-serif;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    margin-top: -30px;
    margin: auto;
  }
  
  .container {
    margin: 0 auto;
  }
  
  .input {
    border-radius: 40px;
    outline: 2px solid #000000;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 150;
    font-size: 20px;
    background-color: #e2e2e2;
    outline-offset: 3px;
    padding: 10px 1rem;
    transition: 0.25s;
    height: 60px;
    width: 600px;
  }
  
  .input:focus {
    outline-offset: 5px;
    background-color: #fff
  }
  
  .output {
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #eee;
    border-radius: 10px;
    outline: 2px solid #000000;
    outline-offset: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 150;
    font-size: 20px;
    max-width: 600px;
  }
  
  .output1 {
    text-align: center;
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #eee;
    border-radius: 10px;
    outline: 2px solid #000000;
    outline-offset: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 150;
    font-size: 20px;
    max-width: 100%;
  }
  
  
  
  
  .button {
  
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    margin-top: 30px;
    height: 75px;
    width: 175px;
    gap: 15px;
    background-color: #181717;
    outline: 3px #181717 solid;
    outline-offset: -3px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 400ms;
    margin-right: 30px;
  }
  
  .button .text {
    color: white;
    font-weight: 700;
    transition: 400ms;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    font-size: 28px;
  }
  
  .button svg path {
    transition: 400ms;
  }
  
  .button:hover {
    background-color: transparent;
  }
  
  .button:hover .text {
    color: #181717;
  }
  
  .button:hover svg path {
    fill: #181717;
  }
  
  .container h1 {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: -5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: normal;
    background-color: transparent;
    padding: 15px;
    font-size: 50px;
    border-radius: 30px;
    cursor: default;
  }
  
  h2 {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 100;
      font-size: 30px;
      color: #ffffff;
      width: 450px;
      display: flex;
      justify-content: center;
      margin: auto;
      margin-top: 100px;
      margin-bottom: -50px;
  }
  
  .container h3 {
    font-family: monospace;
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    background-color: transparent;
    border-radius: 10px;
    color: black;
    padding: 5px;
    border: #ccc;
    border-color: #eee;
    text-shadow: wheat;
    cursor: default;
    margin-top: 70px;
  
  }
  
  .container h6 {
  
    font-family: 'Raleway', sans-serif;
    text-align: right;
    font-weight: 900;
    margin-bottom: 0px;
  }
  
  .container h4 {
  
    margin-top: -80px;
  }
  
  .btn {
    position: fixed;
    top: 50px;
    left: 50px;
    margin-top: 10px;
    margin-left: 10px;
    width: 200px;
    height: 75px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease-in-out;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    background: #040f16;
    color: #f5f5f5;
  }
  
  .btn:hover {
    box-shadow: 0 0 20px 0px #2e2e2e3a;
  }
  
  .btn .icon {
    position: absolute;
    height: 40px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    margin-top: -2px;
  
  }
  
  .btn .text {
    transform: translateX(55px);
  
    margin-top: -3px;
  }
  
  .btn:hover .icon {
    width: 175px;
  }
  
  .btn:hover .text {
    transition: all 0.5s;
    opacity: 0;
  }
  
  .btn:focus {
    outline: none;
  }
  
  .btn:active .icon {
    transform: scale(0.85);
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 3rem;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin-top: 100px;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 100px;
    margin-left: 50px;
    margin-top: 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  
  #ops{
    height: 50px;
    border-radius: 15px;
    font-size: 20px;
    text-align: center;
  
  }
  
  .ops{
    font-family: monospace;
    font-size: 35px;
    font-weight: bolder;
  }

textarea{
    resize: none;
  }

.ms{
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
}

.message{
  text-align: justify;
  font-size: 15px;
}
