h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: aliceblue;
    margin-bottom: 30px;
    margin-top: 175px;
}

h3 {
    font-family: monospace;
    font-weight: bold;
    font-size: 28px;
    justify-content: center;
    display: flex;
    color: aliceblue;
    margin-bottom: 100px;
    text-align: center;
    margin-top: 75px;
}

button {
    background-color: white;
    color: black;
    border-radius: 10em;
    font-size: 32px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 3px solid black;
    box-shadow: 0 0 0 0 black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 600px;
    height: 120px;
    margin-bottom: 50px;
}
  
  button:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 15px 0 0 black;
  }
  
  button:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
  }

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body  {
    background-image: url('images/ambient2.jpg');
  background-size:cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;
    width: 80%;
    margin: auto;
    justify-content: center;

}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}

.center
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(189, 75, 250, 0.3);
  border-radius: 3px;
  z-index: -1;
}
.center h1{
  text-align:center;
  color:white;
  font-family: 'Source Code Pro', monospace;
  text-transform:uppercase;
}

.btn {
  position: fixed;
  top: 50px;
  left: 50px;
  margin-top: 10px;
  margin-left: 10px;
  width: 250px;
  height: 75px;
  border-radius: 5px;
  border: none;
  transition: all 0.5s ease-in-out;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  background: #040f16;
  color: #f5f5f5;
}

.btn:hover {
  box-shadow: 0 0 20px 0px #2e2e2e3a;
}

.btn .icon {
  position: absolute;
  height: 40px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.btn .text {
  transform: translateX(55px);
  margin-left: -110px;
  margin-top: -3px;
}

.btn:hover .icon {
  width: 175px;
}

.btn:hover .text {
  transition: all 0.5s;
  opacity: 0;
}

.btn:focus {
  outline: none;
}

.btn:active .icon {
  transform: scale(0.85);
}
